.btn-love {
  /*background: url(images/web_heart_animation.png);*/
  color: #555;
  font-weight: normal;
  position: absolute;
  left: -100%;
  top: -100%;
  opacity: 0;
  z-index: -1;
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  cursor: pointer;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    margin: 0 auto;
    background: url(https://abs.twimg.com/a/1446862637/img/t1/web_heart_animation.png) 0 0 no-repeat;
    background-size: 2900%;
    height: 100px;
    width: 100px;
}

.btn-love:checked + .btn-love:after {
  animation: heart-burst steps(28) .8s 1 both;
}

@keyframes heart-burst {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}