body {
	background-color: #000;
	text-align: center;
}

/* heading styles */
h1, h3 {
	text-align: center;
	color: #CFB53B;
	font-family: 'Montez', cursive;
	text-shadow: 4px 4px 4px #444;
	font-size: 3em;
}

/* id styles */
#wishMakeup {
	width: 90%;
	color: #CFB53B;
	font-family: 'Montez', cursive;
	text-align: center;
	font-size: 1.7em;
}

#makeupName {
	color: #CFB53B;
	font-family: 'Montez', cursive; 
	font-size: 17px;
}

#hit {
	color: #CFB53B;
	font-family: 'Montez', cursive; 
	font-size: 17px;
}

/* links */
a {
	color: darkslategray;
}

a:hover {
	color: tomato;
}

a:active {
	color: gray;
}

