body {
	background-color: #000;
	text-align: center;
}

/* heading styles */
h1, h3 {
	text-align: center;
	color: #CFB53B;
	font-family: 'Slabo 27px', serif;
	font-size: 3em;
}

ol {
	margin-left: 20px;
	padding-left: 15em;
}

/* id styles */
#wishMakeup {
	width: 40%;
	color: #CFB53B;
	font-family: 'Slabo 27px', serif;
	text-align: center;
	font-size: 1.5em;
}

#makeupName {
	color: #CFB53B;
	font-family: 'Slabo 27px', serif; 
	font-size: 1.3em;
	width: 17%;
}

#hit {
	color: #CFB53B;
	font-family: 'Slabo 27px', serif; 
	font-size: 1.3em;
}

/* links */
a {
	color: darkslategray;
}

a:hover {
	color: tomato;
}

a:active {
	color: gray;
}

