body {
	background-color: #000;
	text-align: center;
}
/* heading styles */
h1, h3 {
	text-align: center;
	color: #CFB53B;
	font-family: 'Playfair Display', serif;
	font-size: 5em;
	padding-top: 13px;
}

#login{
	color: #CFB53B;
	font-family: 'Montez', cursive; 
	font-size: 27px;
	}	